@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

h1 {
    position: relative;
    margin: 0;
    font-weight: 900;
    color: #fff;
    font-size: 4em;
    z-index: 0;
    overflow: hidden;
}

h1:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 0%, #000 110%);
    animation: animate 6.5s linear forwards;
}

h2 {
    position: relative;
    margin: 0;
    font-weight: 900;
    color: #fff;
    font-size: 4em;
    z-index: 0;
    overflow: hidden;
}

h2:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 0%, #000 110%);
    animation: animate 4.5s linear forwards;
}

@keyframes animate {
    0% {
        left: 100%
    }
    0% {
        left: -100%
    }
}

h1 span {
    color: #ff022c;
}

h2 span {
    color: #ff022c;
}